<section class="clients">
  <div class="container">
    <ul class="clients__list">
      <li class="clients__item">
        <svg class="clients__icon" width="40" height="52">
          <use href="./images/icons.svg#icon-company"></use>
        </svg>
      </li>
      <li class="clients__item">
        <svg class="clients__icon" width="40" height="52">
          <use href="./images/icons.svg#icon-company"></use>
        </svg>
      </li>
      <li class="clients__item">
        <svg class="clients__icon" width="40" height="52">
          <use href="./images/icons.svg#icon-company"></use>
        </svg>
      </li>
      <li class="clients__item">
        <svg class="clients__icon" width="40" height="52">
          <use href="./images/icons.svg#icon-company"></use>
        </svg>
      </li>
      <li class="clients__item">
        <svg class="clients__icon" width="40" height="52">
          <use href="./images/icons.svg#icon-company"></use>
        </svg>
      </li>
      <li class="clients__item">
        <svg class="clients__icon" width="40" height="52">
          <use href="./images/icons.svg#icon-company"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
