<section class="employment">
  <div class="container">
    <ul class="employment__list">
      <li class="employment__item">
        <div class="employment__thumb-icon">
          <svg class="employment__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-astronaut"></use>
          </svg>
        </div>

        <div class="employment__thumb"></div>
        <h2 class="employment__title">УВАГА ДО ДЕТАЛЕЙ</h2>
        <p class="employment__text">
          Ідейні міркування, і навіть початок повсякденної роботи з формування
          позиції.
        </p>
      </li>
      <li class="employment__item">
        <div class="employment__thumb-icon">
          <svg class="employment__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-astronaut"></use>
          </svg>
        </div>

        <div class="employment__thumb"></div>
        <h2 class="employment__title">УВАГА ДО ДЕТАЛЕЙ</h2>
        <p class="employment__text">
          Ідейні міркування, і навіть початок повсякденної роботи з формування
          позиції.
        </p>
      </li>
      <li class="employment__item">
        <div class="employment__thumb-icon">
          <svg class="employment__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-astronaut"></use>
          </svg>
        </div>

        <div class="employment__thumb"></div>
        <h2 class="employment__title">УВАГА ДО ДЕТАЛЕЙ</h2>
        <p class="employment__text">
          Ідейні міркування, і навіть початок повсякденної роботи з формування
          позиції.
        </p>
      </li>
      <li class="employment__item">
        <div class="employment__thumb-icon">
          <svg class="employment__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-astronaut"></use>
          </svg>
        </div>

        <div class="employment__thumb"></div>
        <h2 class="employment__title">УВАГА ДО ДЕТАЛЕЙ</h2>
        <p class="employment__text">
          Ідейні міркування, і навіть початок повсякденної роботи з формування
          позиції.
        </p>
      </li>
    </ul>
  </div>
</section>
