<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-toggle__icon" width="40 " height="40">
      <use href="./images/icons.svg#close_menu"></use>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Студія</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Портфоліо</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Контакти</a>
    </li>
  </ul>

  <ul class="mobile-contacts">
    <li class="mobile-contacts__item">
      <a class="mobile-contacts__link-mobile" href="tel:+380961111111"
        >+38 096 111 11 11</a
      >
    </li>
    <li class="mobile-contacts__item">
      <a class="mobile-contacts__link-mail" href="mailto:info@devstudio.com"
        >info@devstudio.com</a
      >
    </li>
  </ul>

  <ul class="mobile-socials">
    <li>
      <a href="#" class="mobile-socials__link" aria-label="Instagram"
        >Instagram</a
      >
    </li>
    <li>
      <a href="#" class="mobile-socials__link" aria-label="Twitter">Twitter</a>
    </li>
    <li>
      <a href="#" class="mobile-socials__link" aria-label="Facebook"
        >Facebook</a
      >
    </li>
    <li>
      <a href="#" class="mobile-socials__link" aria-label="LinkedIn"
        >LinkedIn</a
      >
    </li>
  </ul>
</div>
