<section class="portfolio">
  <div class="container">
    <div class="function">
      <ul class="function__list">
        <li class="function__item">
          <button class="function__button" type="button">Веб-сайти</button>
        </li>
        <li class="function__item">
          <button class="function__button" type="button">Веб-сайти</button>
        </li>
        <li class="function__item">
          <button class="function__button" type="button">Веб-сайти</button>
        </li>
        <li class="function__item">
          <button class="function__button" type="button">Веб-сайти</button>
        </li>
        <li class="function__item">
          <button class="function__button" type="button">Веб-сайти</button>
        </li>
        <li class="function__item">
          <button class="function__button" type="button">Веб-сайти</button>
        </li>
      </ul>
    </div>

    <ul class="project">
      <li class="project__item">
        <a class="project__link" href="#">
          <div class="project__overlay-thumb">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/imglg@1x.webp 1x,
                  ./images/portfolio/imglg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/imglg@1x.jpg 1x,
                  ./images/portfolio/imglg@2x.jpg 2x
                "
              />
              <!-- tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/imgmd@1x.webp 1x,
                  ./images/portfolio/imgmd@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/imgmd@1x.jpg 1x,
                  ./images/portfolio/imgmd@2x.jpg 2x
                "
              />
              <!-- mobile -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/portfolio/imgsm@1x.webp 1x,
                  ./images/portfolio/imgsm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/portfolio/imgsm@1x.jpg 1x,
                  ./images/portfolio/imgsm@2x.jpg 2x
                "
              />
              <!-- default -->
              <img
                class="project__image"
                src="./images/portfolio/imgsm@1x.jpg"
                alt="лімітована книга"
                width="450"
                height="460"
                loading="lazy"
              />
            </picture>

            <div class="project__overlay">
              <p class="project__overlay-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                ducimus quae dolorum, maiores ea explicabo?
              </p>
            </div>
          </div>

          <div class="project_thumb">
            <h2 class="project__title">Технокряк</h2>
            <p class="project__text">Дизайн</p>
          </div>
        </a>
      </li>

      <li class="project__item">
        <a class="project__link" href="#">
          <div class="project__overlay-thumb">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/imglg@1x.webp 1x,
                  ./images/portfolio/imglg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/imglg@1x.jpg 1x,
                  ./images/portfolio/imglg@2x.jpg 2x
                "
              />
              <!-- tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/imgmd@1x.webp 1x,
                  ./images/portfolio/imgmd@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/imgmd@1x.jpg 1x,
                  ./images/portfolio/imgmd@2x.jpg 2x
                "
              />
              <!-- mobile -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/portfolio/imgsm@1x.webp 1x,
                  ./images/portfolio/imgsm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/portfolio/imgsm@1x.jpg 1x,
                  ./images/portfolio/imgsm@2x.jpg 2x
                "
              />
              <!-- default -->
              <img
                class="project__image"
                src="./images/portfolio/imgsm@1x.jpg"
                alt="лімітована книга"
                width="450"
                height="460"
                loading="lazy"
              />
            </picture>
            <div class="project__overlay">
              <p class="project__overlay-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                ducimus quae dolorum, maiores ea explicabo?
              </p>
            </div>
          </div>

          <div class="project_thumb">
            <h2 class="project__title">Постер New Orlean vs Golden Star</h2>
            <p class="project__text">Дизайн</p>
          </div>
        </a>
      </li>
      <li class="project__item">
        <a class="project__link" href="#">
          <div class="project__overlay-thumb">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/imglg@1x.webp 1x,
                  ./images/portfolio/imglg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/imglg@1x.jpg 1x,
                  ./images/portfolio/imglg@2x.jpg 2x
                "
              />
              <!-- tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/imgmd@1x.webp 1x,
                  ./images/portfolio/imgmd@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/imgmd@1x.jpg 1x,
                  ./images/portfolio/imgmd@2x.jpg 2x
                "
              />
              <!-- mobile -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/portfolio/imgsm@1x.webp 1x,
                  ./images/portfolio/imgsm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/portfolio/imgsm@1x.jpg 1x,
                  ./images/portfolio/imgsm@2x.jpg 2x
                "
              />
              <!-- default -->
              <img
                class="project__image"
                src="./images/portfolio/imgsm@1x.jpg"
                alt="лімітована книга"
                width="450"
                height="460"
                loading="lazy"
              />
            </picture>
            <div class="project__overlay">
              <p class="project__overlay-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                ducimus quae dolorum, maiores ea explicabo?
              </p>
            </div>
          </div>

          <div class="project_thumb">
            <h2 class="project__title">Технокряк</h2>
            <p class="project__text">Дизайн</p>
          </div>
        </a>
      </li>

      <li class="project__item">
        <a class="project__link" href="#">
          <div class="project__overlay-thumb">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/imglg@1x.webp 1x,
                  ./images/portfolio/imglg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/imglg@1x.jpg 1x,
                  ./images/portfolio/imglg@2x.jpg 2x
                "
              />
              <!-- tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/imgmd@1x.webp 1x,
                  ./images/portfolio/imgmd@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/imgmd@1x.jpg 1x,
                  ./images/portfolio/imgmd@2x.jpg 2x
                "
              />
              <!-- mobile -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/portfolio/imgsm@1x.webp 1x,
                  ./images/portfolio/imgsm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/portfolio/imgsm@1x.jpg 1x,
                  ./images/portfolio/imgsm@2x.jpg 2x
                "
              />
              <!-- default -->
              <img
                class="project__image"
                src="./images/portfolio/imgsm@1x.jpg"
                alt="лімітована книга"
                width="450"
                height="460"
                loading="lazy"
              />
            </picture>
            <div class="project__overlay">
              <p class="project__overlay-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                ducimus quae dolorum, maiores ea explicabo?
              </p>
            </div>
          </div>

          <div class="project_thumb">
            <h2 class="project__title">Постер New Orlean vs Golden Star</h2>
            <p class="project__text">Дизайн</p>
          </div>
        </a>
      </li>
      <li class="project__item">
        <a class="project__link" href="#">
          <div class="project__overlay-thumb">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/imglg@1x.webp 1x,
                  ./images/portfolio/imglg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/imglg@1x.jpg 1x,
                  ./images/portfolio/imglg@2x.jpg 2x
                "
              />
              <!-- tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/imgmd@1x.webp 1x,
                  ./images/portfolio/imgmd@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/imgmd@1x.jpg 1x,
                  ./images/portfolio/imgmd@2x.jpg 2x
                "
              />
              <!-- mobile -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/portfolio/imgsm@1x.webp 1x,
                  ./images/portfolio/imgsm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/portfolio/imgsm@1x.jpg 1x,
                  ./images/portfolio/imgsm@2x.jpg 2x
                "
              />
              <!-- default -->
              <img
                class="project__image"
                src="./images/portfolio/imgsm@1x.jpg"
                alt="лімітована книга"
                width="450"
                height="460"
                loading="lazy"
              />
            </picture>
            <div class="project__overlay">
              <p class="project__overlay-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                ducimus quae dolorum, maiores ea explicabo?
              </p>
            </div>
          </div>

          <div class="project_thumb">
            <h2 class="project__title">Технокряк</h2>
            <p class="project__text">Дизайн</p>
          </div>
        </a>
      </li>

      <li class="project__item">
        <a class="project__link" href="#">
          <div class="project__overlay-thumb">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/imglg@1x.webp 1x,
                  ./images/portfolio/imglg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/imglg@1x.jpg 1x,
                  ./images/portfolio/imglg@2x.jpg 2x
                "
              />
              <!-- tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/imgmd@1x.webp 1x,
                  ./images/portfolio/imgmd@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/imgmd@1x.jpg 1x,
                  ./images/portfolio/imgmd@2x.jpg 2x
                "
              />
              <!-- mobile -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/portfolio/imgsm@1x.webp 1x,
                  ./images/portfolio/imgsm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/portfolio/imgsm@1x.jpg 1x,
                  ./images/portfolio/imgsm@2x.jpg 2x
                "
              />
              <!-- default -->
              <img
                class="project__image"
                src="./images/portfolio/imgsm@1x.jpg"
                alt="лімітована книга"
                width="450"
                height="460"
                loading="lazy"
              />
            </picture>
            <div class="project__overlay">
              <p class="project__overlay-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                ducimus quae dolorum, maiores ea explicabo?
              </p>
            </div>
          </div>

          <div class="project_thumb">
            <h2 class="project__title">Постер New Orlean vs Golden Star</h2>
            <p class="project__text">Дизайн</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
