<ul class="social">
  <li class="social__list">
    <a class="social__link" href="#" aria-label="instagram">
      <svg class="social__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="social__list">
    <a class="social__link" href="#" aria-label="twitter">
      <svg class="social__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li class="social__list">
    <a class="social__link" href="#" aria-label="facebook">
      <svg class="social__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social__list">
    <a class="social__link" href="#" aria-label="linkedin">
      <svg class="social__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-linkedin"></use>
      </svg>
    </a>
  </li>
</ul>
