<section class="team">
  <div class="container">
    <h2 class="title">Наша команда</h2>
    <ul class="team__list">
      <li class="team__item">
        <img
          class="team__image"
          srcset="
            ./images/team/igor-demyanenko-270.jpg 270w,
            ./images/team/igor-demyanenko-354.jpg 354w,
            ./images/team/igor-demyanenko-450.jpg 450w,
            ./images/team/igor-demyanenko-540.jpg 540w,
            ./images/team/igor-demyanenko-708.jpg 708w,
            ./images/team/igor-demyanenko-900.jpg 900w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
          src="./images/team/igor-demyanenko-450.jpg"
          alt="ігор демяненко"
        />
        <div class="team__thumb">
          <p class="team__title">Ігор Дем'яненко</p>
          <p class="team__text">Product Designer</p>

          <ul class="social">
            <li class="social__list">
              <a class="social__link" href="#" aria-label="instagram">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="twitter">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="facebook">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="linkedin">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__image"
          srcset="
            ./images/team/igor-demyanenko-270.jpg 270w,
            ./images/team/igor-demyanenko-354.jpg 354w,
            ./images/team/igor-demyanenko-450.jpg 450w,
            ./images/team/igor-demyanenko-540.jpg 540w,
            ./images/team/igor-demyanenko-708.jpg 708w,
            ./images/team/igor-demyanenko-900.jpg 900w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
          src="./images/team/igor-demyanenko-450.jpg"
          alt="ігор демяненко"
        />
        <div class="team__thumb">
          <p class="team__title">Ігор Дем'яненко</p>
          <p class="team__text">Product Designer</p>

          <ul class="social">
            <li class="social__list">
              <a class="social__link" href="#" aria-label="instagram">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="twitter">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="facebook">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="linkedin">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__image"
          srcset="
            ./images/team/igor-demyanenko-270.jpg 270w,
            ./images/team/igor-demyanenko-354.jpg 354w,
            ./images/team/igor-demyanenko-450.jpg 450w,
            ./images/team/igor-demyanenko-540.jpg 540w,
            ./images/team/igor-demyanenko-708.jpg 708w,
            ./images/team/igor-demyanenko-900.jpg 900w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
          src="./images/team/igor-demyanenko-450.jpg"
          alt="ігор демяненко"
        />
        <div class="team__thumb">
          <p class="team__title">Ігор Дем'яненко</p>
          <p class="team__text">Product Designer</p>

          <ul class="social">
            <li class="social__list">
              <a class="social__link" href="#" aria-label="instagram">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="twitter">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="facebook">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="linkedin">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__image"
          srcset="
            ./images/team/igor-demyanenko-270.jpg 270w,
            ./images/team/igor-demyanenko-354.jpg 354w,
            ./images/team/igor-demyanenko-450.jpg 450w,
            ./images/team/igor-demyanenko-540.jpg 540w,
            ./images/team/igor-demyanenko-708.jpg 708w,
            ./images/team/igor-demyanenko-900.jpg 900w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
          src="./images/team/igor-demyanenko-450.jpg"
          alt="ігор демяненко"
        />
        <div class="team__thumb">
          <p class="team__title">Ігор Дем'яненко</p>
          <p class="team__text">Product Designer</p>

          <ul class="social">
            <li class="social__list">
              <a class="social__link" href="#" aria-label="instagram">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="twitter">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="facebook">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__list">
              <a class="social__link" href="#" aria-label="linkedin">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
