.header__container {
  display: flex;
  align-items: center;

  padding-top: 16px;
  padding-bottom: 16px;
}

.header-nav__list {
  display: flex;
  margin: 0 auto;
}

.header-contacts {
  margin-left: auto;
}
