.social {
  display: flex;
  justify-content: center;
}

.social__list {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  color: rgba(175, 177, 184, 1);

  &:hover,
  &:focus,
  &:hover .social__icon,
  &:focus .social__icon {
    background-color: #2196f3;
    fill: white;
  }
}

.social__icon {
  fill: currentColor;
}
